:root {
    --icon: wheat;
}


header {
    background: black;
    position: fixed;
    top: 0;
    z-index: 10;


}

main {
    margin-top: 32%;
}

a {
    text-decoration: none;
    color: var(--icon)
}

i {
    color: var(--icon);
    padding: 10px;
    margin-left: 19px;
    font-size: 20px;
}

.logo-container {
    color: white;
    display: flex;
    padding: 16px 30px;
    width: 100%;
    max-width: 500px;
}

.menu-hamburguesa-container {
    position: relative;
}

.logo-container img {
    width: 57%;
}

.burguer-navbar-container {
    display: flex;
    justify-content: space-between;
}

.cart-login-container {
    display: flex;
}

.login-register {
    display: flex;
}

.menu-navbar {
    color: wheat;
    padding: 28px;
    text-decoration: none;
    position: absolute;
    left: -100%;
    opacity: 0;
    border-radius: 2px;
    border: 1px solid wheat;
    transition: all 1s;

}

.menu-navbar li {
    list-style: none;
    margin-bottom: 22px;
}

.menu-navbar li:hover {
    background-color: rgb(56, 50, 38);
}

.logout-icon {
    display: none;
}

.login,
.register {
    color: var(--icon);
    padding: 0 5px;

}

@media (min-width: 1250px) {
    header {
        width: 80%;
    }

    main {
        margin-top: 15%;
    }
}