:root {
    --icon: wheat;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

img {
    width: 100%;
}

header {
    background: black;
    position: fixed;
    top: 0;
    z-index: 10;

}
main{
    margin-top: 32%;
}

a {
    text-decoration: none;
    color: var(--icon)
}

i {
    color: var(--icon);
    padding: 10px;
    margin-left: 19px;
    font-size: 20px;
}

.logo-container {
    color: white;
    display: flex;
    padding: 16px 30px;
    width: 100%;
}

.menu-hamburguesa-container {
    position: relative;
}

.logo-container img {
    width: 57%;
}

.burguer-navbar-container {
    display: flex;
    justify-content: space-between;
}

.cart-login-container {
    display: flex;
}

.login-register {
    display: flex;
}

.menu-navbar {
    color: wheat;
    padding: 28px;
    text-decoration: none;
    position: absolute;
    left: -100%;
    opacity: 0;
    border-radius: 2px;
    border: 1px solid wheat;
    transition: all 1s;

}

.menu-navbar li {
    list-style: none;
    margin-bottom: 22px;
}
.menu-navbar li:hover {
    background-color: rgb(56, 50, 38);
}

.logout-icon {
    display: none;
}

.login,
.register {
    color: var(--icon);
    padding: 0 5px;

}




/* FIN HEADER ------------------------------------------- */
.seccion-bienvenida {
    display: flex;
}

.bienvenidos {
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 40%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;
}

.bienvenidos-title {
    color: wheat;
    font-size: 250%;
}

.slider {
    width: 208%;
}

.logo-container-bienvenida img {
    width: 30%;
    margin-bottom: 10px;

}

/* SOBRE NOSOTROS------------------------ */




.sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 20px;
    color: wheat;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
}


p {
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 70%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;

}

.sobre-nosotros-p {
    max-width: 250px;
}

/* locatiooon---------------------------- */

.maps-location{
    width: 95vw;
    max-height: 400px;
}
div .maps-location iframe{
    width: 100%;
}



/* FOOTERRR-------------------- */
footer{
    margin: 20px 0;
}
hr{
    border: wheat 1px solid;
    margin-bottom: 6%;
}
.buttons {
    display: flex;
    justify-content: space-around;

}

.buttons a {
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--icon);
    color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}