:root {
    --icon: wheat;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    width: 98.5%;
}

img {
    width: 100%;
}





/* FIN HEADER ------------------------------------------- */
.seccion-bienvenida {
    display: flex;
}

.bienvenidos {
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 40%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;
}

.bienvenidos-title {
    color: wheat;
    font-size: 250%;
}

.slider {
    width: 208%;
}

.logo-container-bienvenida img {
    width: 30%;
    margin-bottom: 10px;

}

/* SOBRE NOSOTROS------------------------ */




.sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 20px;
    color: wheat;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
}


p {
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 70%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;

}





/* --------------------------- Nuestros productos=------------- */


/* locatiooon---------------------------- */

.maps-location {
    width: 95vw;
    max-height: 400px;
}

div .maps-location iframe {
    width: 100%;
}



/* FOOTERRR-------------------- */
footer {
    margin: 20px 0;
}

hr {
    border: wheat 1px solid;
    margin-bottom: 6%;
}

.buttons {
    display: flex;
    justify-content: space-around;

}

.buttons a {
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--icon);
    color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}


@media (min-width: 720px) {
    html {
        display: flex;
        justify-content: center;
    }

    body {
        width: 80%;
    }

    main {
        margin-top: 14%;
    }

    .products-section {
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .bienvenidos {
        width: 150%;
    }

    .bienvenidos-title {
        font-size: 700%;
    }

    .bienvenidos-horario {
        font-size: 330%;
    }

    .bienvenidos-subtitle {
        font-size: 270%;
    }

    .logo-container-bienvenida img {
        width: 90%;
    }

    .slider {
        display: flex;
        justify-content: flex-end;
    }

    .slider img {
        width: 57%;
    }

    .nosotros {
        width: 60%;
        text-align: center;

    }

    .nosotros h3 {
        font-size: 230%;

    }
    .sobre-nosotros{
        margin-top: 8%;
    }
    .sobre-nosotros-p {
        text-align: center;
        font-size: 151%;
    }
}